
.title-1, .title-2{
    display: inline-block;
    width: 100%;
    margin: 0px;
    z-index: -1;
    letter-spacing: 50px;
    font-size: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255);
    -webkit-text-stroke: 2px  #91a2e5;
    text-shadow: 0 0 10px #91a2e5;
    position: absolute;
    z-index: 1;
    letter-spacing: 260px;
    top: 270px;
}
.title-1{
    left: 900px;
}
.title-2{
    left: 4900px;
}

.t-1, .t-9{
    font-family: 'Courier New', Courier, monospace ;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    position: fixed;
    margin: 17px;
}

.t-9{
    animation-name: t-9;
    animation-duration: .8s;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: none;
}
@keyframes t-9{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
}
.txt{
    text-align: center;
}
.txt-1, .txt-2, .txt-3, .txt-4, .txt-5{
    color: rgba(255, 255, 255);
    font-weight: bold;
    -webkit-text-stroke: 2px  #91a2e5;
    text-shadow: 0 0 10px #91a2e5;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 30px;
    font-size: 50px;
    width: 1200px;
    position: absolute;
    left: -540px;
    top: 370px;
    z-index: 2;
    transform:rotate(-0.25turn);
    display: none;
}
.p-1-1, .p-1-2, .p-1-3, .p-1-4, .p-1-5, .p-1-6, .p-1-7
, .p-2-1, .p-2-2
, .p-3-1, .p-3-2
, .p-4-1, .p-4-2, .p-4-3, .p-4-4, .p-4-5, .p-4-6, .p-4-7
,.p-5
, .p-6-1, .p-6-2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    padding: 4px;
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    width: 300px;
    z-index: 10;
    background-color: rgb(255, 184, 176);
    border: 1px solid rgb(228, 121, 72);
    margin-top: 80px;
    margin-left: 80px;
}
.p-7-1, .p-7-2, .p-7-3, .p-7-4, .p-7-5, .p-7-6
,.p-8-1, .p-8-2
,.p-9-1, .p-9-2,.p-9-3, .p-9-4{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    padding: 4px;
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    width: 200px;
    z-index: 9;
    background-color: rgb(255, 184, 176);
    border: 1px solid rgb(228, 121, 72);
    margin-top: 70px;
    margin-left: 80px;
}
.p-10-1, .p-10-2,.p-10-3, .p-10-4,.p-10-5, .p-10-6
,.p-11-1, .p-11-2,.p-11-3, .p-11-4{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    padding: 4px;
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    width: 400px;
    z-index: 8;
    background-color: rgb(255, 184, 176);
    border: 1px solid rgb(228, 121, 72);
    margin-top: 70px;
    margin-left: 80px;
}
.p-12-1, .p-12-2,.p-12-3
,.p-13-1, .p-13-2,.p-13-3, .p-13-4, .p-13-5
, .p-14-1, .p-14-2,.p-14-3
,.p-15-1, .p-15-2,.p-15-3, .p-15-4
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    padding: 4px;
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    width: 450px;
    z-index: 7;
    background-color: rgb(255, 184, 176);
    border: 1px solid rgb(228, 121, 72);
    margin-top: 70px;
    margin-left: 80px;
}
.p-16-1, .p-16-2,.p-16-3
,.p-17-1, .p-17-2,.p-17-3, .p-17-4, .p-17-5,.p-17-6, .p-17-7,.p-17-8, .p-17-9, .p-17-10, .p-17-11
,.p-18-1, .p-18-2,.p-18-3, .p-18-4, .p-18-5, .p-18-6
,.p-19-1, .p-19-2,.p-19-3, .p-19-4, .p-19-5{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    padding: 4px;
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    width: 400px;
    z-index: 10;
    background-color: rgb(255, 184, 176);
    border: 1px solid rgb(228, 121, 72);
    margin-top: 70px;
    margin-left: 80px;
}
.o-1-1, .o-1-2, .o-1-3, .o-1-4, .o-1-5, .o-1-6, .o-1-7
, .o-2-1, .o-2-2, .o-2-3, .o-2-4, .o-2-5, .o-2-6, .o-2-7, .o-2-8, .o-2-9
, .o-3-1, .o-3-2, .o-3-3
, .o-4-1, .o-4-2, .o-4-3, .o-4-4
, .o-5-1, .o-5-2, .o-5-3, .o-5-4, .o-5-5, .o-5-6, .o-5-7
, .o-6-1, .o-6-2, .o-6-3, .o-6-4, .o-6-5{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    border-radius: 20px;
    width: 350px;
    padding: 4px;
    box-sizing:border-box;
    color: beige;
    z-index: 10;
    background-color: salmon;
    border: 1px solid black;
    margin-top: 70px;
    margin-left: 80px;
}
.o-7-1, .o-7-2, .o-7-3, .o-7-4
,.o-8-1, .o-8-2, .o-8-3, .o-8-4, .o-8-5
,.o-9-1, .o-9-2, .o-9-3, .o-9-4
,.o-10-1, .o-10-2, .o-10-3, .o-10-4, .o-10-5, .o-10-6
,.o-11-1, .o-11-2, .o-11-3, .o-11-4, .o-11-5{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    border-radius: 20px;
    width: 350px;
    padding: 4px;
    box-sizing:border-box;
    color: beige;
    z-index: 9;
    background-color: salmon;
    border: 1px solid black;
    margin-top: 70px;
    margin-left: 80px;
}
.o-12-1, .o-12-2, .o-12-3, .o-12-4, .o-12-5, .o-12-6, .o-12-7, .o-12-8, .o-12-9
, .o-13-1, .o-13-2, .o-13-3, .o-13-4, .o-13-5
, .o-14-1, .o-14-2, .o-14-3, .o-14-4, .o-14-5, .o-14-6, .o-14-7, .o-14-8, .o-14-9
, .o-15-1, .o-15-2, .o-15-3, .o-15-4, .o-15-5
, .o-16-1, .o-16-2, .o-16-3, .o-16-4, .o-16-5, .o-16-6, .o-16-7
, .o-17-1, .o-17-2, .o-17-3, .o-17-4, .o-17-5, .o-17-6
, .o-18-1, .o-18-2, .o-18-3, .o-18-4, .o-18-5, .o-18-6, .o-18-7, .o-18-8
, .o-19-1, .o-19-2, .o-19-3, .o-19-4, .o-19-5, .o-19-6, .o-19-7{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    border-radius: 20px;
    width: 350px;
    padding: 4px;
    box-sizing:border-box;
    color: beige;
    z-index: 8;
    background-color: salmon;
    border: 1px solid black;
    margin-top: 70px;
    margin-left: 80px;
}

.bk-1-1, .bk-1-2, .bk-1-3, .bk-1-4, .bk-1-5
, .bk-2-1, .bk-2-2, .bk-2-3, .bk-2-4, .bk-2-5
, .bk-3-1, .bk-3-2, .bk-3-3, .bk-3-4
, .bk-4-1, .bk-4-2, .bk-4-3, .bk-4-4, .bk-4-5, .bk-4-6, .bk-4-7, .bk-4-8
, .bk-5-1, .bk-5-2, .bk-5-3, .bk-5-4, .bk-5-5, .bk-5-6, .bk-5-7, .bk-5-8, .bk-5-9, .bk-5-10
, .bk-6-1, .bk-6-2, .bk-6-3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    width: 200px;
    padding: 4px;
    box-sizing:border-box;
    color: rgb(0, 0, 0);
    z-index: 10;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-top: 70px;
    margin-left: 80px;
}
.bk-7-1, .bk-7-2, .bk-7-3, .bk-7-4, .bk-7-5, .bk-7-6, .bk-7-7
, .bk-8-1, .bk-8-2
, .bk-9-1, .bk-9-2, .bk-9-3, .bk-9-4, .bk-9-5, .bk-9-6
, .bk-10-1, .bk-10-2, .bk-10-3, .bk-10-4, .bk-10-5, .bk-10-6
, .bk-11-1, .bk-11-2, .bk-11-3, .bk-11-4, .bk-11-5, .bk-11-6, .bk-11-7{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    width: 350px;
    padding: 4px;
    box-sizing:border-box;
    color: rgb(0, 0, 0);
    z-index: 9;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-top: 70px;
    margin-left: 80px;
}
.bk-12-1, .bk-12-2
, .bk-13-1, .bk-13-2, .bk-13-3
, .bk-14-1, .bk-14-2, .bk-14-3, .bk-14-4, .bk-14-5, .bk-14-6
, .bk-15-1, .bk-15-2, .bk-15-3, .bk-15-4, .bk-15-5
, .bk-16-1, .bk-16-2, .bk-16-3
, .bk-17-1, .bk-17-2, .bk-17-3
, .bk-18-1, .bk-18-2, .bk-18-3, .bk-18-4, .bk-18-5
, .bk-19-1, .bk-19-2, .bk-19-3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    width: 450px;
    padding: 4px;
    box-sizing:border-box;
    color: rgb(0, 0, 0);
    z-index: 8;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-top: 70px;
    margin-left: 80px;
}

.b-1-1, .b-1-2, .b-1-3, .b-1-4, .b-1-5, .b-1-6, .b-1-7, .b-1-8
, .b-2
, .b-3-1, .b-3-2
, .b-4-1, .b-4-2, .b-4-3, .b-4-4
, .b-5-1, .b-5-2
, .b-6-1, .b-6-2, .b-6-3, .b-6-4
, .b-7-1, .b-7-2, .b-7-3, .b-7-4, .b-7-5{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    padding: 4px;
    width: 300px;
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    z-index: 10;
    background-color: rgb(54, 104, 205);
    border: 1px solid rgb(37, 24, 118);
    margin-top: 70px;
    margin-left: 80px;
}
.b-8-1, .b-8-2, .b-8-3, .b-8-4, .b-8-5
, .b-9-1, .b-9-2, .b-9-3, .b-9-4, .b-9-5
, .b-10-1, .b-10-2
, .b-11-1, .b-11-2, .b-11-3, .b-11-4{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    padding: 4px;
    width: 250px;
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    z-index: 9;
    background-color: rgb(54, 104, 205);
    border: 1px solid rgb(37, 24, 118);
    margin-top: 70px;
    margin-left: 80px;
}
.b-12-1, .b-12-2, .b-12-3
, .b-13-1, .b-13-2, .b-13-3, .b-13-4
, .b-14-1, .b-14-2, .b-14-3, .b-14-4, .b-14-5
, .b-15-1, .b-15-2, .b-15-3
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    padding: 4px;
    width: 550px;
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    z-index: 8;
    background-color: rgb(54, 104, 205);
    border: 1px solid rgb(37, 24, 118);
    margin-top: 70px;
    margin-left: 80px;
}
.b-16-1, .b-16-2, .b-16-3, .b-16-4
, .b-17-1, .b-17-2, .b-17-3, .b-17-4
, .b-18-1, .b-18-2, .b-18-3, .b-18-4, .b-18-5
, .b-19-1, .b-19-2, .b-19-3, .b-19-4{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    padding: 4px;
    width: 550px;
    box-sizing:border-box;
    color: rgb(255, 255, 255);
    z-index: 8;
    background-color: rgb(54, 104, 205);
    border: 1px solid rgb(37, 24, 118);
    margin-top: 70px;
    margin-left: 80px;
}
.y-1, .y-2, .y-3, .y-4, .y-5, .y-6, .y-7, .y-8, .y-9, .y-10, .y-11, .y-12, .y-13, .y-14, .y-15, .y-16, .y-17, .y-18, .y-19, .y-20, .y-20, .y-21, .y-22, .y-23, .y-24, .y-25, .y-26, .y-27, .y-28, .y-29, .y-30{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    position: absolute;
    border-radius: 20px;
    box-sizing:border-box;
    color: rgb(79, 79, 79);
    background-color: rgb(248, 253, 149);
    border: 1px solid rgb(106, 106, 107);
    margin-top: 70px;
    height: 20px;
    margin-left: 80px;
}
.y-1, .y-2, .y-3, .y-4, .y-5{
    width: 300px;
    z-index: 10;
}
.y-6, .y-7, .y-8, .y-9, .y-10{
    width:100px;
    z-index: 10;
}
.y-11, .y-12, .y-13{
    width:500px;
    z-index: 9;
}
.y-14, .y-15, .y-16, .y-17{
    width:200px;
    z-index: 9;
}
.y-18, .y-19, .y-20{
    width:400px;
    z-index: 8;
}
.y-21, .y-22, .y-23, .y-24, .y-25{
    width: 600px;
    z-index: 8;
}
.y-26, .y-27, .y-28, .y-29, .y-30{
    width: 400px;
    z-index: 10;
}
.button{
    display: flex;
    position: fixed;
}
.all, .pbutton, .obutton, .bkbutton, .bbutton, .ybutton, .conversation{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: fixed;
    z-index: 10px;
    top: 15px;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: none;
}
.all{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 4.3px;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid black;
    border-style: dashed;
    right: 400px;
    box-shadow: 0px 0px 4px rgb(97, 97, 97);
    animation-name: all-ani;
    animation-duration: 3s;
}
.all:hover{
    background-color: #c5cacc;
}
.all:active{
    background-color: #a7a7a7;
}
@keyframes all-ani{
    40%{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        padding-top: 4.3px;
    }
    100%{
        width: 35px;
        height: 35px;
        border-radius: 35px;
        padding-top: 7px;
    }
}
.pbutton{
    background-color:rgb(255, 184, 176) ;
    border: 1px solid rgb(228, 121, 72);
    box-shadow: 0px 0px 4px rgb(228, 121, 72) ;
    right: 350px;
    animation-name: b-1;
    animation-duration: 3s;
}
.pbutton:hover{
    background-color:rgb(237, 156, 147) ;
}
.pbutton:active{
    background-color:rgb(202, 120, 111) ;
}
.obutton{
    background-color: salmon;
    border: 0.6px solid black;
    box-shadow: 0px 0px 4px salmon ;
    right: 300px;
    animation-name: b-2;
    animation-duration: 3s;
}
.obutton:hover{
    background-color:rgb(230, 126, 114);
}
.obutton:active{
    background-color:rgb(201, 94, 83);
}
.bkbutton{
    background-color: rgb(255, 255, 255);
    border: 0.6px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 4px black ;
    right: 250px;
    animation-name: b-3;
    animation-duration: 3s;
}
.bkbutton:hover{
    background-color:rgb(196, 195, 195);
}
.bkbutton:active{
    background-color:rgb(158, 157, 157);
}
.bbutton{
    background-color: rgb(54, 104, 205);
    border: 1px solid rgb(37, 24, 118);
    box-shadow: 0px 0px 4px rgb(37, 24, 118);
    right: 200px;
    animation-name: b-4;
    animation-duration: 3s;
}
.bbutton:hover{
    background-color: rgb(34, 83, 180);
}
.bbutton:active{
    background-color: rgb(21, 63, 148);
}
.ybutton{
    background-color: rgb(248, 253, 149);
    border: 1px solid rgb(106, 106, 107);
    box-shadow: 0px 0px 4px rgb(106, 106, 107) ;
    right: 150px;
    animation-name: b-5;
    animation-duration: 3s;
}
.ybutton:hover{
    background-color: rgb(226, 232, 115);
}
.ybutton:active{
    background-color: rgb(188, 194, 80);
}
.conversation{
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(35, 35, 35);
    box-shadow: 0px 0px 4px rgb(71, 71, 71) ;
    right: 100px;
    animation-name: b-6;
    animation-duration: 3s;
}
.conversation:hover{
    background-color: rgb(117, 116, 116);
}
.conversation:active{
    background-color: rgb(75, 75, 75);
}
@keyframes b-1{
    40%{
        scale: 1;
        box-shadow: 0px 0px 4px rgb(228, 121, 72);
    }
    100%{
        scale: 1.2;
        box-shadow: 0px 0px 6px rgb(228, 121, 72);
    }
}
@keyframes b-2{
    0%{
        scale: 1;
        box-shadow: 0px 0px 4px salmon;
    }
    20%{
        scale: 1.2;
        box-shadow: 0px 0px 6px salmon;
    }
}@keyframes b-3{
    70%{
        scale: 1;
        box-shadow: 0px 0px 4px black ;
    }
    90%{
        scale: 1.2;
        box-shadow: 0px 0px 6px black ;
    }
}@keyframes b-4{
    40%{
        scale: 1;
        box-shadow: 0px 0px 4px rgb(37, 24, 118);
    }
    60%{
        scale: 1.2;
        box-shadow: 0px 0px 6px rgb(37, 24, 118);
    }
}@keyframes b-5{
    30%{
        scale: 1;
        box-shadow: 0px 0px 4px rgb(106, 106, 107) ;
    }
    50%{
        scale: 1.2;
        box-shadow: 0px 0px 6px rgb(106, 106, 107) ;
    }
    
}
@keyframes b-6{
    20%{
        scale: 1;
        box-shadow: 0px 0px 4px rgb(106, 106, 107) ;
    }
    50%{
        scale: 1.2;
        box-shadow: 0px 0px 6px rgb(106, 106, 107) ;
    }
    
}

.listing-item tns-item{
    float: left;
}

audio::-webkit-media-controls-play-button {
    background-color: #B1D4E0;
    border-radius: 50%;
  }
.audbutton{
    position: fixed;
    right: 30px;
    text-align: center;
    top: 10px;
}
.audio-1{
    font-size: 25px;
    width: 40px;
    height: 40px;
    background-color: #21263e;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing:border-box;
    padding: 0px;
}
.audbutton:hover{
    scale: 1.2;
}
.audio-1:hover{
    background-color: #68508e;
    box-shadow: 0px 0px 3px salmon;
}
.audio-1:active{
    background-color: black;
    box-shadow: 0px 0px 7px salmon;
}